Website/Schemas/v1/bundle.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="boolType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="settingsType">
    <xs:all>
      <xs:element name="minify" type="boolType" default="true" />
      <xs:element name="runOnBuild" type="boolType" default="false" />
      <xs:element name="adjustRelativePaths" type="boolType" default="true" />
      <xs:element name="outputDirectory" type="xs:string" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="fileNameType">
    <xs:sequence>
      <xs:element name="file" maxOccurs="unbounded">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(.*)\.([a-zA-Z0-9]+)"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="bundle">
    <xs:complexType>
      <xs:all>
        <xs:element name="settings" type="settingsType" />
        <xs:element name="files" type="fileNameType" />
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>