Website/Schemas/v1/bundle.v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bundle">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="file" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="minify" type="xs:boolean" use="required" />
      <xs:attribute name="runOnBuild" type="xs:boolean" use="required" />
      <xs:attribute name="output" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>